extends layout

block script
  script(src='script.js')

block content
  .dialogue
    | Login
    br
    form
      input#login-email(type="text", name="email")
      br
      input.password#login-password(type="password", name="password", value="")
      br
    button#login-submit.submit Submit
  br
  .register
    | register&nbsp;
    a(href='/register') here
