extends layout

block content
  div#dialog-login(title="Login User")
    form
      fieldset
        label(for="name") Email
        input#login-email.text.ui-widget-content.ui-corner-all(type="text", name="email")
        label(for="password") Password
        input#login-password.text.ui-widget-content.ui-corner-all(type="password", name="password", value="")

  button#opener-login Login
  span.userId
  button#opener-logout Logout

  br

  input#data
