extends layout

block content
    form(action="https://jawbone.com/auth/oauth2/auth", method="get")
        input(type="hidden", name="response_type", value="code")
        input(type="hidden", name="client_id", value="nrukJB8L_uc")
        input(type="hidden", name="redirect_uri", value="http://shielded-escarpment-3137.herokuapp.com/user")
        input(type="hidden", name="scope", value="basic_read extended_read location_read friend_read mood_read meal_read weight_read cardiac_read generic_event_read move_read sleep_read")
        input(type="submit", name="submit")
