doctype 5
html
  head
    title Calorie Cloud
    block scripts
      link(rel="stylesheet", href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
      link(rel='stylesheet', href='style.css')
      link(rel='stylesheet', href='unsemantic.css')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
      script(src="https://cdn.firebase.com/v0/firebase.js")
      script(src="https://cdn.firebase.com/v0/firebase-simple-login.js")
      script(src="js/user.js")
      script(src="js/firebase_retriever.js")
      script(src="js/firebase_writer.js")
  body
    block content
    include footer

