html
  head
    link(href='user-style.css', rel='stylesheet', type='text/css')
    script(src='userpage.js', style='')
  body
    #user-stats-module.module.grid-50.mobile-grid-100
    #world-stats-module.module.grid-50.mobile-grid-100
    #competitions-module.module.grid-50.mobile-grid-100
    #goals-module.module.grid-50.mobile-grid-100
