html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background: url("http://dvcole.files.wordpress.com/2011/08/hands-reaching.jpg");
  background-size: 100% 100%;

}

.jawbonelanding {
  background-color: rgba(244, 244, 244, .5);
  color: rgba(244, 244, 244, .5);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  text-shadow: 0 0 0px rgba(0,0,0,.7);
  position: relative;
  top: 300px;
  font-weight: bold;
  margin: auto;
  width: 305px;
  height: 80px;;
  

}
